<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
  <script>
    var mymodule = angular.module("KuchModule", []);
    mymodule.controller("KuchController", function ($scope, $http) {
      $scope.jsonArray = [];
      $scope.emailid = "";
      $scope.searchedOnce = false;

      $scope.emailid = localStorage.getItem("activeUser");

      //-----fetch details-----
      $scope.doFetchAll = function () {
        if (!$scope.emailid) {
          //alert("please enter your emailid");
          return;
        }

        var url = "/do-fetch-tournaments-by-email?emailid=" + $scope.emailid;
        $http.get(url).then(fetchSuccess, fetchFail);

        function fetchSuccess(response) {
          $scope.jsonArray = response.data;
          $scope.searchedOnce = true;
        }

        function fetchFail(error) {
          alert("Fetch Error:" + JSON.stringify(error.data));
        }
      };

      if($scope.emailid){
        $scope.doFetchAll();
      }
        

    $scope.doDelete = function (rid) {
      var url = "/delete-tournament?rid=" + rid ;

      $http.get(url).then(deleteSuccess,deleteFail);
      function deleteSuccess(response) {
        alert(response.data); 
        $scope.doFetchAll();
      }

      function deleteFail(error) {
        alert("Delete Error:"+JSON.stringify(error.data));
      }
    };
    });

  </script>

</head>

<body ng-app="KuchModule" ng-controller="KuchController">
  <div class="container">
    <div class="row ">
      <div class="col-md-8 offset-md-2" style="padding: 20px;">
        <center>
          <h2><b>Posted Tournaments</b></h2>
        </center>
      </div>
    </div>
    <!--<div class="row justify-content-center mb-4">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Enter your Email Id" ng-model="emailid">
      </div>
      <div class="col-md-2">
        <button class="btn btn-danger" ng-click="doFetchAll()">Fetch</button>
      </div>
    </div>
  </div>-->

  <!--posted tornaments-->

  <div ng-if="jsonArray.length > 0">
    <h2>
      <!--<center>Posted Tournaments</center>-->
    </h2>
    <div class="table-responsive">
      <table class="table table-hover align-middle text-center">
        <thead>
          <tr>
            <th>SR.No</th>
            <th>Event</th>
            <th>Date</th>
            <th>Time</th>
            <th>City</th>
            <th>Sports</th>
            <th>Age</th>
            <th>Fee</th>
            <th>Prize</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="obj in jsonArray">
            <td>{{$index+1}}</td>
            <td>{{obj.event_title}}</td>
            <td>{{obj.doe}}</td>
            <td>{{obj.toe}}</td>
            <td>{{obj.city}}</td>
            <td>{{obj.sports}}</td>
            <td>{{obj.minage}}</td>
            <td>{{obj.fee}}</td>
            <td>{{obj.prize}}</td>
            <td>{{obj.contact}}</td>
            <td>
              <input type="button" class="btn btn-danger" ng-click="doDelete(obj.rid);" value="Delete">
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>